<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do list | Vue.js</title>
    <link rel="stylesheet" href="style.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
   
        <style>
          
           
        </style>
</head>
<body>

    <div id="root">

        <!-- header -->
        <header id="site_header">
             <div class="logo">
                <img width="300" :src="logo" alt="logo boolean">
            </div>
            <div class="add_task">
                <input v-model= "newTask" type="text" name="" id="" placeholder="Add new tasks here">
                <button @click= "addTask">Add task</button>
                <label for="">Add a simple task to do</label>
            </div>
        </header>


        <!-- Main -->
        <main id="site_main">

            <!-- container todo list -->
            <div class="white_container">
                <h2>{{title}}</h2>
                <div class="myTasks" v-if="myTasks.length > 0">
                    <div class="task" v-for="(task,index) in myTasks">
                        <input type="text" v-model="myTasks[index]" v-text="task">
                        <i class="fas fa-trash" @click="binTask(index)"></i>
                        <i class="fas fa-check-circle" @click="addFinishedTask(index)"></i>
                    </div>
                    
                </div>
                <div class="noTasks" v-else>
                    <p>You don't have anything to do, Insert some new tasks 📝</p>
                </div>
            </div>

            <!-- container tasks completed -->
            <div class="white_container">
                <h2>{{title2}}</h2>
                <div class="myCompletedTasks">{{task}}</div>
            </div>
        </main>
            
    </div>
    <!-- VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./main.js"></script>
</body>
</html>