#root{
    height: 100vh;
    background-color: rgb(143, 202, 241); 
   
}
#site_header{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 70px;
}
#site_main{
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.white_container{
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 0px 12px 30px;
   margin: 10px;
 
   
}


.myTasks{
    border-radius: 10px;
    background-color: lightgray;
    padding:0 20px;
    line-height: 40px;
}
label{
    display: block;
    
    text-align: center;
    font-size: 12px;
}
button{
    border-radius: 5px;
    border: solid transparent;
    padding:2px 10px;
}
input{
    border: 1px solid black;
    border-radius: 5px;
    padding:2px;
}
.add_task{
    padding: 20px;
}
